mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
    div.video-mixin__thumb
    div.video-mixin__data
      span.video-mixin__title=video.title
      div.video-mixin__meta 
        span #{video.owner.name} • 
        span #{video.meta.views}회
    //- 변수 값만 넣을때는 #{} 문자열과 같이 쓰고싶어서 템플릿 리터럴을 쓸 때는 ${}을 써야 함